:root {
  --gap-size: 50px;
  --doc-bg-color: 245, 255, 250;

  --int: 1.3;
  --scale0: 1rem;
  --scale1: calc(var(--scale0) * var(--int));
  --scale2: calc(var(--scale1) * var(--int));
  --scale3: calc(var(--scale2) * var(--int));
  --scale4: calc(var(--scale3) * var(--int));
  --scale5: calc(var(--scale4) * var(--int));
}

html {
  box-sizing: border-box;
  font-size: 100%;
  background-color: rgb(var(--doc-bg-color));
}

*, *::before, *::after {
  box-sizing: inherit;
}

* {
  transition: margin, margin-left, margin-right, font-size, padding;
  transition-duration: 0.6s;
  transition-timing-function: cubic-bezier(0.455, 0.030, 0.515, 0.955);
}

body {
  font-size: var(--scale1);
}

#content {
  min-width: 300px;
  max-width: 1366px;
  min-height: 100vh;
  margin: auto;
  font-family: 'MavenPro', sans-serif;
}

.bg-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--gap-size);

  height: 50vh;
  background-size: cover;
  background-position: center;
  text-align: center;
  text-shadow: 3px 2px 1px black;
  color: rgb(var(--doc-bg-color));
  letter-spacing: 2px;
}

header {
  padding: 0 10px;
  color: rgb(var(--doc-bg-color));
}

h1, h2, h3 {
  font-family: 'MavenProBold', sans-serif;
}

h1 {
  font-size: var(--scale3);
}

h2 {
  font-size: var(--scale2);
}

h3 {
  font-size: var(--scale1);
  margin-bottom: 6px;
}

footer {
  display: flex;
  flex-direction: column;
  
  min-height: 25vh;
  background-color: black;
  color: white;

  & > * {
    margin: calc(var(--gap-size) / 2) 15px;
  }

  :last-child {
    margin-left: auto;
  }
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: var(--scale5);
  }

  h2 {
    font-size: var(--scale3);
  }

  footer {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    & > * {
      margin: 0;
    }

    :last-child {
      margin-left: 0;
    }
  }
}

@font-face {
  font-family: 'MavenPro';
  src: url('../fonts/MavenPro-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'MavenProBold';
  src: url('../fonts/MavenPro-Bold.ttf') format('truetype');
  font-weight: bold;
}
