.home-content {
  .bg-image {
    height: 100vh;
    background-image: url('../assets/home-header-bg.jpg');
  }

  main {
    min-height: 40vh;
    margin: 15px;
  }

  a {
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
}

@media screen and (min-width: 768px) {
  .home-content {
    main {
      margin: var(--gap-size) calc(var(--gap-size) * 2);
    }
  }
}
