.menu-content {
  .bg-image.breakfast {
    background-image: url('../assets/breakfast.jpg');
  }

  .bg-image.dinner {
    background-image: url('../assets/dinner.jpg');
  }

  .bg-image.drinks {
    background-image: url('../assets/drinks.jpg');
  }

  h3 {
    margin-top: 0;
  }
}

.food-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: calc(var(--gap-size) / 2) var(--gap-size);

  margin: calc(var(--gap-size) / 2) 15px;
}

@media screen and (min-width: 768px) {
  .food-container {
    margin: var(--gap-size);
  }
}
