$big-gap: var(--gap-size);
$small-gap: calc(var(--gap-size) / 2);

.menu-content {
  display: flex;
  flex-direction: column;
  flex: auto;

  .bg-image {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 50vh;
    color: rgb(var(--doc-bg-color)); 
  }

  .bg-image.breakfast {
    background-image: url('../assets/breakfast.jpg');
  }

  .bg-image.dinner {
    background-image: url('../assets/dinner.jpg');
  }

  .bg-image.drinks {
    background-image: url('../assets/drinks.jpg');
  }

  h3 {
    font-size: var(--scale1);
    margin-top: 0;
    margin-bottom: 10px;
  }
}

.food-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: $small-gap $big-gap;

  margin: $small-gap $big-gap;
}

.food-item div {
  font-size: var(--scale1);
}
