nav {
  display: flex;
  position: fixed;
  top: 0;

  width: 100%;
  overflow-y: auto;

  button,
  .bonus {
    padding: 15px 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: var(--scale1);
  }

  .bonus {
    margin-left: auto;
    text-decoration: none;
    color: black;
  }

  background-color: rgba(var(--doc-bg-color), 0.9);
}

@media screen and (min-width: 768px) {
  nav {
    padding-left: 50px;

    .bonus {
      margin-right: 50px;
    }
  }
}
